extends layout

block content
  h1= title
  p Welcome to #{title}

  form(action="/auth/login" method="POST")
    div
      label(for="email") Email:
      input(type="email" name="email" id="email" required)
    div
      label(for="password") Password:
      input(type="password" name="password" id="password" required)
    div
      button(type="submit") Login
